<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="title" content="Serial Experiments Lain - PS1 Game Web Adaptation">
    <meta name="description" content="Traducción al español  y adaptación web del juego de PS1 de la serie anime Serial Experiments Lain.">
    <meta name="keywords" content="Lain, Serial Experiments, Serial Experiments Lain, Lain Game, Lain PS1, Lain Game, Iwakura Lain, Lain Iwakura, Wired, Traduccion, Traduccion Lain">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Experiments Lain</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <audio autoplay>
        <source src="/audio/05_Acerca.mp3" type="audio/mpeg">
    </audio>
    <div class="up-line color-line">
        <a class="top-menu" href="/">
            <img src="/img/svg/Home.svg" id="logo-tachibana" onmouseover="TachibanaLogoSelected()" onmouseout="TachibanaLogoNotSelected()">
        <a/>
    </div>
    <div class="medium"> 
        <p class="title">Acerca del sitio</p>
        <hr style="border: none;background-color:#4B46C8;color:#4B46C8;height:2px;" />
        <div class="contenido">
            <h3 class="h3">Información básica</h3>
            <p class="contenido-text">Este sitio es una recreación en formato web del videojuego de Serial Experiments Lain, lanzado en 1998 para la plataforma del PlayStation. El propósito del sitio es reproducir con la mayor calidad posible la experiencia del juego, así como poner al alcance del público hispanohablante una traducción lo más precisa de una obra compuesta en su mayoría por archivos de audio y video con diálogos en japonés.            </p>
            <h3 class="h3">Sobre la obra original</h3>
            <p class="contenido-text">El 26 de noviembre de 1998, Pioneer LDC lanzó un videojuego para PlayStation con el mismo nombre que el anime Serial Experiments Lain. Fue diseñado por Chiaki J. Konaka y Yasuyuki Ueda, y fue planteado como un "simulador de red" en el que el usuario navega a fin de explorar la historia de Lain. Los propios creadores no lo describen como un juego, sino como un "Psycho-Stretch-Ware" (Software de expansión psíquica), y se ha descrito como una especie de novela visual. La interacción se limita a desbloquear piezas de información audiovisual en orden no estrictamente cronológico hasta llegar al final de varias líneas narrativas paralelas, y carece de cualquier acertijo necesario para desbloquear los archivos. Más información en en <a href="#" class="link-salida">Wikipedia</a> y <a href="#" class="link-salida">lain.wiki</a></p>
            <h3 class="h3">Sobre la adaptación web</h3>
            <p class="contenido-text">Dada la naturaleza del juego, resulta poco práctico traducir la obra en su formato original, sin mencionar que limitarse a reproducir la interface original traería más dificultades que beneficios. Por lo tanto, esta adaptación se centra en conseguir tres objetivos fundamentales: 1) Hacer accesible la obra original, con una navegación sencilla y con una traducción integrada de manera orgánica. 2) Actualizar los gráficos al formato web, preservando lo mejor posible la identidad visual de la obra original. 3) Mantener un equilibrio entre las funciones perdidas del formato original, y el contenido adicional que se suma para compensar esas carencias, a fin de volver esta adaptación una ampliación contemporánea de su versión original.</p>
            <h3 class="h3">Diferencias en la navegación</h3>
            <p class="contenido-text">Originalmente, los archivos deben ser desbloqueados, mediante el acceso a otros archivos, adquiriendo actualizaciones de software (archivos GaTE y SSkn), o alcanzando el final de las diversas líneas narrativas. Aquí, todos los archivos se encuentran desbloqueados desde el principio. Para compensar esa pérdida, se implementaron varias rutas preestablecidas que, si bien, disminuyen la interactividad original, permiten al usuario navegar la historia con cierta libertad y sin perder la coherencia. Aún existen los tags, que permiten una navegación temática y no cronológica, y se suma la navegación por línea narrativa, así como un botón para acceder a algún archivo aleatorio. Como opción alterna de navegación, cada archivo incluye metadatos (originalmente ocultos en el juego) entre los que se menciona qué requisitos deben cumplirse para acceder a dicho archivo en la obra original.</p>
            <h3 class="h3">Archivos extra</h3>
            <p class="contenido-text">Aprovechando el libre uso del espacio digital, cada cierto tiempo se irá sumando contenido adicional para ampliar la experiencia del usuario. Este contenido se podrá encontrar en los huecos originales del menú del juego (allí donde se navega entre los diversos archivos). Uno de estos añadidos es el archivo Dc1029, es decir, el manga de Yoshitoshi Abe titulado The Nightmare of Fabrication, disponible en el Sitio _, Nivel __, #__. (Este archivo puede considerarse contenido oficial, aunque se publicó aparte de la obra original)</p>
            <h3 class="h3">Disclaimer</h3>
            <p class="contenido-text">Esta obra discute y presenta temas dirigidos a un público adulto, y como tal, puede ser inadecuada para niños o adultos sensibles. El juego incluye numerosas muertes detalladas en su presentación, y varios personajes se ven afectados por trastornos psicológicos a lo largo de la obra, así como pueden experimentar profunda soledad y/o tendencias autodestructivas.
            <br>Proceda con cautela.</p>
            <h3 class="h3">Más información</h3>
            <h3 class="staff-cargo">Sobre la obra original</h3>
            <p class="contenido-text" style="text-align: center;"><a href="#" class="link-salida">lain.wiki</a></p>
            <h3 class="staff-cargo">Sobre esta adaptación de la obra</h3>
            <p class="contenido-text" style="text-align: center;"><a href="#" class="link-salida">lif-px.blogspot.com</a></p>
            <p class="contenido-text" style="text-align: center;">Créditos originales e internos</p>
            <p class="contenido-text" style="text-align: center;">Guía oficial del juego</p>
        </div>
    </div>
    <footer class="bottom-line color-line">
      <p style="color: white; text-align: center;">Lif + Sib 2020. <a href="https://lain-psx.net/credits.html" style="text-decoration: none; color: #FFB437;">Créditos</a></p>
    </div>
</body>
</html>
