<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="title" content="Serial Experiments Lain - PS1 Game Web Adaptation">
    <meta name="description" content="Traducción al español  y adaptación web del juego de PS1 de la serie anime Serial Experiments Lain.">
    <meta name="keywords" content="Lain, Serial Experiments, Serial Experiments Lain, Lain Game, Lain PS1, Lain Game, Iwakura Lain, Lain Iwakura, Wired, Traduccion, Traduccion Lain">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Experiments Lain</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <audio autoplay>
        <source src="/audio/02_Creditos.mp3" type="audio/mpeg">
    </audio>
    <div class="up-line color-line">
    <a class="top-menu" href="/">
        <img src="/img/svg/Home.svg" id="logo-tachibana" onmouseover="TachibanaLogoSelected()" onmouseout="TachibanaLogoNotSelected()">
    <a/>
    </div>
    <div class="medium"> 
        <p class="title">Créditos</p>
        <hr style="border: none;background-color:#4B46C8;color:#4B46C8;height:2px;" />
        <div class="contenido">
            <h3 class="h3">Staff original</h3>
            <div class="staff-completo">
                <div class="staff-izq">
                    <p class="staff-subtitulo">•Serial Expermiment Brain•</p>
                    <p class="staff-nombres"><a href="https://twitter.com/uedayasuyuki" class="link-salida">Ueda Yasuyuki</a></p>
                    <p class="staff-nombres"><a href="https://www.youtube.com/user/abflygm" class="link-salida">ABe Yoshitoshi</a></p>
                    <p class="staff-nombres"><a href="https://twitter.com/yamaki_nyx" class="link-salida">Chiaki J. Konaka</a></p>
                    <p class="staff-nombres">Nakahara Junji</p>
                    <p class="staff-subtitulo">•Cast•</p>
                    <p class="staff-cargo">Iwakura Lain</p>
                    <p class="staff-nombres">Shimizu Kaori</p>
                    <p class="staff-cargo">Youera Touko</p>
                    <p class="staff-nombres">Okamoto Maya</p>
                    <p class="staff-cargo">Makino</p>
                    <p class="staff-nombres">Shibuya Shigeru</p>
                    <p class="staff-cargo">Kyoko</p>
                    <p class="staff-nombres">Mizuno Manabi</p>
                    <p class="staff-cargo">Kaori</p>
                    <p class="staff-nombres" style="margin-bottom: 1%;">Tsuji Kaori</p>
                    <p class="staff-nombres">Matsuo Takashi</p>
                    <p class="staff-nombres">Nakamura Daiki</p>
                    <p class="staff-nombres">Suzuki Takuma</p>
                    <p class="staff-nombres">Namiki Shinichi</p>
                    <p class="staff-nombres">Daitou Aki</p>
                    <p class="staff-subtitulo">•Staff•</p>
                    <p class="staff-cargo">Diseño original de personajes</p>
                    <p class="staff-nombres">ABe Yoshitoshi</p>
                    <p class="staff-cargo">Director</p>
                    <p class="staff-nombres">Nakahara Jyunji</p>
                    <p class="staff-cargo">Programador en jefe</p>
                    <p class="staff-nombres">Takahashi Osamu</p>
                    <p class="staff-cargo">Programadores</p>
                    <p class="staff-nombres">Yamaguchi Yuichi</p>
                    <p class="staff-nombres">Yamagiwa Kouji</p>
                    <p class="staff-cargo">Diseñador</p>
                    <p class="staff-nombres">Takai Masahiko</p>
                    <p class="staff-cargo">Operador de datos</p>
                    <p class="staff-nombres">Ikeda Kouichi</p>
                    <p class="staff-cargo">Planeación del escenario del juego</p>
                    <p class="staff-nombres">dango, Shimizu Hideko</p>
                    <p class="staff-subtitulo">•Video•</p>
                    <p class="staff-cargo">Director & Story board</p>
                    <p class="staff-nombres">Endo Tetsuya</p>
                    <p class="staff-cargo">Planeación del escenario del video</p>
                    <p class="staff-nombres">Chiaki J. Konaka</p>
                    <p class="staff-cargo">Diseño de personajes <br>& director de animación</p>
                    <p class="staff-nombres">Haga Hitoshi</p>
                </div>
                <div class="staff-der">
                    <p class="staff-cargo">Director de arte
                    <p class="staff-nombres">Ebisawa Kazuo</p>
                    <p class="staff-cargo">Director de color</p>
                    <p class="staff-nombres">Sasaki Natsue</p>
                    <p class="staff-cargo">Supervisor de animación</p>
                    <p class="staff-nombres">Ohtani Kuniko</p>
                    <p class="staff-cargo">Asistente del director de animación</p>
                    <p class="staff-nombres">Song Sung</p>
                    <p class="staff-cargo">Trabajos digitales</p>
                    <p class="staff-nombres">Satelight Inc. Buyu</p>
                    <p class="staff-cargo">Edición</p>
                    <p class="staff-nombres">Seyama Takeshi</p>
                    <p class="staff-cargo">Asistente de producción</p>
                    <p class="staff-nombres">Sato Takuro</p>
                    <p class="staff-cargo">Gerente de producción</p>
                    <p class="staff-nombres">Yamaguchi Katsumi</p>
                    <p class="staff-cargo">Producción de animación</p>
                    <p class="staff-nombres">Triangle Staff</p>
                    <p class="staff-subtitulo">•Sonido•</p>
                    <p class="staff-cargo">Audio</p>
                    <p class="staff-nombres">Kju:	</p>
                    <p class="staff-cargo">Director de audio</p>
                    <p class="staff-nombres">Tsuruoka Yota</p>
                    <p class="staff-cargo">Diseño de audio</p>
                    <p class="staff-nombres">Kasamatsu Kouji</p>
                    <p class="staff-nombres">Ishizaki Nono</p>
                    <p class="staff-cargo">Ingeniero de audio</p>
                    <p class="staff-nombres">Hata Shoji</p>
                    <p class="staff-cargo">Editor de diálogo</p>
                    <p class="staff-nombres">Nogawa Yasutomo</p>
                    <p class="staff-cargo">Producción de audio</p>
                    <p class="staff-nombres">Yamada Masayuki (Rakuonsha)</p>
                    <p class="staff-cargo">Gerente de producción de audio</p>
                    <p class="staff-nombres">Sugiyama Yoshimi</p>
                    <p class="staff-subtitulo">•Productor ejecutivo•</p>
                    <p class="staff-nombres">Hekizono Satoshi</p>
                    <p class="staff-nombres">Kawamura Akihiro</p>
                    <p class="staff-subtitulo">•Agradecimientos especiales•</p>
                    <p class="staff-nombres">Isobe Ichiro (Wand)</p>
                    <p class="staff-nombres">Fukura Kei</p>
                    <p class="staff-nombres">Nakamura Hiroshi (Kou-yu-sha)</p>
                    <p class="staff-nombres">Asari Yoshimi (Triangle Staff)</p>
                    <p class="staff-nombres">Maki Taro (Genco)</p>
                    <p class="staff-nombres">Todo el staff de A&G</p>
                    <p class="staff-cargo">Dirigido en su totalidad por<br> dango@production 2nd</p>

                </div>
            </div>
            <hr style="border: none;background-color:#4B46C8;width: 90%;color:#4B46C8;height:2px;margin-top: 4%; margin-bottom: 4%;" />
            <h3 class="h3">Staff adaptación web</h3>
            <h3 class="staff-cargo">Traducción y diseño</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="http://lif-px.blogspot.com/" class="link-salida">LIF</a></p>
            <h3 class="staff-cargo">Programación</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="https://twitter.com/SibFromWired" class="link-salida">Sib</a></p>
            <h3 class="staff-subtitulo">• Agradecimientos •</h3>
            <h3 class="staff-cargo">Sobre la traducción</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="http://psx.lain.pl/" class="link-salida">M35, et al. </a>(Traducción general al inglés)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://ain-and-lain.tumblr.com/post/54679085486/lda-installment-three" class="link-salida">Ain</a> (Traducción al inglés de los archivos Lda)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLEmw27UN_WiavMcC4TWOlcktwPMi9y6ly" class="link-salida">Un dibujo manco</a> (Traducción al español en proceso)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://www.youtube.com/channel/UC8Ysgyh-AC7glgIxAPNnfVg/playlists" class="link-salida">John Kimonster</a> (Traducción al español de los archivos Dc1)</p>
            <h3 class="staff-cargo">Sobre The Nightmare of Fabrication (Dc1029)</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="http://www.uchina.com.ar/blog/2008/06/14/lain-the-nightmare-of-fabrication/" class="link-salida">Uchina.com.ar</a> (Traducción al español)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="http://ravennofansub.blogspot.mx/2016/04/descargar-manga-serial-experiments-lain.html" class="link-salida">Raven</a> (Traducción al español)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="http://mangapark.me/manga/the-nightmare-of-fabrication" class="link-salida">MangaPark</a> (Traducción al inglés)</p>
            <h3 class="staff-cargo">Varios</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="http://laingame.net/" class="link-salida">Laingame</a> (Inspiración y contenidos varios)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://fauux.neocities.org/" class="link-salida">Fauux</a> (Inspiración)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="http://www.geocities.co.jp/Playtown/3444/lain.html" class="link-salida">Play Town</a> (Información sobre los Tags)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://coolrom.com.au/" class="link-salida">Cool Rom</a> (Por los Roms del juego)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="http://jpsxdec.blogspot.com/" class="link-salida">Michael Sabin</a> (Por la herramienta Jpsxdec)</p>
            <p class="staff-nombres" style="text-align: center;"><a href="https://photomosh.com/" class="link-salida">Photomosh</a> (Aplicación de gran utilidad)</p>
            <h3 class="staff-cargo">Proyecto dirigido en su totalidad<br>
                por el equipo de Life Instinct Function</h3>
            <p class="staff-nombres" style="text-align: center;"><a href="http://lif-px.blogspot.com/" class="link-salida">lif-px.blogspot.com</a></p>
            <hr style="border: none;background-color:#4B46C8;width: 90%;color:#4B46C8;height:2px;margin-top: 4%; margin-bottom: 4%;" />
            <h3 class="h3">Nota legal</h3>
            <p class="staff-nombres" style="color: #F3F3F3; line-height: 1.3;">Todo el contenido audiovisual presentado en esta página web es propiedad de sus respectivos autores (nombrados anteriormente en esta página), y ha sido puesto a su disposición sin fines de lucro.<br>
                &nbsp;&nbsp;Cualquier material de audio, video o escrito que no sea propiedad de alguien citado en esta página de créditos, será debidamente acreditado allí donde se encuentre dicho material.<br>
                &nbsp;&nbsp;Cualquier inconveniente referente al uso de material protegido por derecho de autor/copyright será atendido oportunamente a través de nuestra dirección de correo: admin@lain-psx.net</p>
            <h3 class="h3">Legal note</h3>
            <p class="staff-nombres" style="color: #F3F3F3; line-height: 1.3;">All the audiovisual content presented on this website is the property of their respective authors (previously named on this page), and has been made available to you on a non-profit basis.<br>
                &nbsp;&nbsp;Any audio, video or written material that is not owned by someone cited on this credit page will be duly credited wherever such material is located.<br>
                &nbsp;&nbsp;Any inconvenience regarding the use of material protected by copyright will be addressed promptly through our email address: admin@lain-psx.net</p>
        </div>
    </div>
    <footer class="bottom-line color-line">
        <p style="color: white; text-align: center;">Lif + Sib 2020</p> 
    </div>
</body>
</html>
