<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="title" content="Serial Experiments Lain - PS1 Game Web Adaptation">
    <meta name="description" content="Traducción al español  y adaptación web del juego de PS1 de la serie anime Serial Experiments Lain.">
    <meta name="keywords" content="Lain, Serial Experiments, Serial Experiments Lain, Lain Game, Lain PS1, Lain Game, Iwakura Lain, Lain Iwakura, Wired, Traduccion, Traduccion Lain">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Experiments Lain</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style>   
        .up-line{
            padding: 14px;
        }
        .medium{
            text-align: center;
            height: 100%;
        }
        @media screen and (min-width: 1300px) {
            .up-line{
                padding: 1.1vw;
            }
        }
        @media screen and (max-height: 600px) {
            .medium{
                text-align: center;
                height: 900px;
            }
        }
    </style>
    <script src="/js/main.js"></script>
</head>
<body>
    <audio autoplay loop>
        <source src="/audio/Boon.mp3" type="audio/mp3">
    </audio>
    <audio autoplay>
        <source src="/audio/04.mp3" type="audio/mp3">
    </audio>
    <div class="up-line color-line">
    </div>
    <div class="medium"> 
        <div class="logo">
                <svg class="tachibana-logo-animado" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 430000 384050"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="nucleo">
                    <path class="fil0" d="M215000 122960l0 0c-24380,0 -44150,19770 -44150,44150 0,24380 19770,44150 44150,44150 24380,0 44150,-19770 44150,-44150 0,-24380 -19770,-44150 -44150,-44150z"/>
                    </g>
                    <g id="ojo_izq">
                    <path class="fil0" d="M98520 66990l0 0c8080,0 14960,6680 14960,12160 0,5540 -1600,12090 -11620,18500 -8420,5340 -37880,23510 -54840,42950 -7750,8880 -11620,17360 -11620,26510 0,9090 3870,17570 11620,26520 16960,19440 46420,37530 54840,42950 10020,6410 11620,12950 11620,18430 0,5550 -6880,12160 -14960,12160 -8150,0 -12900,-2940 -20770,-9360 -13560,-10950 -40280,-32850 -58850,-54430 -11090,-12960 -18900,-24980 -18900,-36270 0,-11280 7810,-23310 18900,-36260 18570,-21640 45290,-43490 58850,-54510 7870,-6410 12620,-9350 20770,-9350z"/>
                    </g>
                    <g id="ojo_der">
                    <path class="fil0" d="M331480 66990l0 0c-8080,0 -14960,6680 -14960,12160 0,5540 1600,12090 11620,18500 8420,5340 37880,23510 54840,42950 7750,8880 11620,17360 11620,26510 0,9090 -3870,17570 -11620,26520 -16960,19440 -46420,37530 -54840,42950 -10020,6410 -11620,12950 -11620,18430 0,5550 6880,12160 14960,12160 8150,0 12900,-2940 20770,-9360 13560,-10950 40280,-32850 58850,-54430 11090,-12960 18900,-24980 18900,-36270 0,-11280 -7810,-23310 -18900,-36260 -18570,-21640 -45290,-43490 -58850,-54510 -7870,-6410 -12620,-9350 -20770,-9350z"/>
                    </g>
                    <g id="punto_01">
                    <path class="fil0" d="M215000 0l0 0c8750,0 15830,7080 15830,15830 0,8690 -7080,15830 -15830,15830 -8750,0 -15830,-7140 -15830,-15830 0,-8750 7080,-15830 15830,-15830z"/>
                    </g>
                    <g id="punto_03">
                    <path class="fil0" d="M32930 243120l0 0c-8750,0 -15830,7080 -15830,15830 0,8750 7080,15830 15830,15830 8750,0 15830,-7080 15830,-15830 0,-8750 -7080,-15830 -15830,-15830z"/>
                    </g>
                    <g id="punto_02">
                    <path class="fil0" d="M397070 243120l0 0c8750,0 15830,7080 15830,15830 0,8750 -7080,15830 -15830,15830 -8750,0 -15830,-7080 -15830,-15830 0,-8750 7080,-15830 15830,-15830z"/>
                    </g>
                    <g id="cuerpo">
                    <path class="fil0" d="M348710 341170c0,15960 -27510,42880 -66120,42880 -38540,0 -53760,-28590 -53760,-44350l0 -73270c0,-8080 660,-13630 15620,-19430 38480,-15100 54910,-53040 54910,-83490 0,-30460 -29190,-80950 -84360,-80950 -55170,0 -84360,50490 -84360,80950 0,30450 16430,68390 54910,83490 14960,5800 15620,11350 15620,19430l0 73270c0,15760 -15220,44350 -53760,44350 -38610,0 -66120,-26920 -66120,-42880 0,-6940 5740,-15360 15020,-15360 9220,0 12690,5810 14230,7680 1530,1940 13420,21710 35400,21710 21970,0 25710,-16300 25710,-25920l0 -42610c0,-6550 -4600,-12360 -15960,-17170 -11420,-4810 -59180,-36400 -59180,-104660 0,-68190 59380,-116280 118490,-116280 59110,0 118490,48090 118490,116280 0,68260 -47760,99850 -59180,104660 -11360,4810 -15960,10620 -15960,17170l0 42610c0,9620 3740,25920 25710,25920 21980,0 33870,-19770 35400,-21710 1540,-1870 5010,-7680 14230,-7680 9280,0 15020,8420 15020,15360z"/>
                    </g>
                </svg>
            <a href="game/site-a/level-1" class="acceder">Acceder</a>
        </div>
        <img src="img" class="lain-gif" id="lain-gif">
        <nav class="menu">
            <a href="/routes" class="item">Rutas</a>
            <p class="item"> - </p>
            <a href="/about" class="item">Acerca de</a>
            <p class="item"> - </p>
            <a href="/credits" class="item">Créditos</a>
            <p class="item"> - </p>
            <a href="https://lif-px.blogspot.com/" class="item">Blog</a>
        </nav>
    </div>
  <footer class="bottom-line color-line">
    <p style="color: white; text-align: center;">Lif + Sib 2020</p> 
  </footer>
</body>
</html>
