<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="title" content="Serial Experiments Lain - PS1 Game Web Adaptation">
    <meta name="description" content="Traducción al español  y adaptación web del juego de PS1 de la serie anime Serial Experiments Lain.">
    <meta name="keywords" content="Lain, Serial Experiments, Serial Experiments Lain, Lain Game, Lain PS1, Lain Game, Iwakura Lain, Lain Iwakura, Wired, Traduccion, Traduccion Lain">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Experiments Lain</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/js/main.js"></script>    
</head>
<body>
    <audio autoplay>
        <source src="/audio/06_Rutas.mp3" type="audio/mpeg">
    </audio>
    <div class="up-line color-line">
         <a class="top-menu" href="/">
            <img src="/img/svg/Home.svg" id="logo-tachibana" onmouseover="TachibanaLogoSelected()" onmouseout="TachibanaLogoNotSelected()">
        </a>
    </div>
    <div class="medium"> 
        <p class="title">Rutas de navegación</p>
        <hr style="border: none;background-color:#4B46C8;color:#4B46C8;height:2px;" />
        <div class="contenido">
            <h3 class="h3">¿Qué son las rutas?</h3>
            <p class="contenido-text">
                Las rutas son todas las diferentes maneras en que se puede explorar la historia. Son un reemplazo de la interfaz original, en la cual el usuario debía desbloquear los archivos de manera no necesariamente cronológica, alternando entre distintas líneas narrativas. Las rutas facilitan la navegación de acuerdo a la experiencia que busque el usuario, o según qué información esté buscando en determinado momento.
            </p>
            <p class="subtitulo-routes">1) Por línea narrativa</p>
            <p class="contenido-text">Cada tipo de archivo está numerado. Se puede seguir esta numeración para navegar a través de cada línea narrativa en orden cronológico. Sólo hay que acceder al primer archivo de la línea narrativa deseada, y usar las flechas junto al título para desplazarte a lo largo de la línea narrativa en cuestión. Excluyendo los archivos de software, hay nueve raíces: Tda001, Cou001, Dia001, Lda001, Dc1001, TaK001, Ekm001, Ere001, Eda001</p>
            <p class="subtitulo-routes">2) Temática (por tags/etiquetas)</p>
            <p class ="contenido-text">Cada archivo de audio o video incluye uno o tres tags que sirven para acceder a otro archivo que comparte el mismo tag, mientras que el mismo tag en este segundo archivo conduce a un tercer archivo, y así sucesivamente hasta concluir el ciclo temático que gira en torno a un tag. Por lo tanto, esta ruta se compone de numerosos ciclos conectados sin principio ni final establecido. </p>
            <p class="subtitulo-routes">3) Libre</p>
            <p class ="contenido-text">Debido a que todos los archivos se encuentran desbloqueados desde un principio, el usuario es libre de explorar cada archivo en el orden que le parezca más conveniente, viajando entre los diferentes niveles de ambos sitios (A y B), o saltando entre líneas narrativas, tags, o tomando una de las rutas preestablecidas para luego abandonarla.</p>
            <p class="subtitulo-routes">4) Aleatoria</p>
            <p class ="contenido-text">Dentro de cada archivo se encuentra un botón r> que lleva al usuario a un archivo cualquiera. Esta ruta es completamente aleatoria, de modo que puede llevar al usuario al mismo archivo en más de una ocasión, o estropear cualquier revelación que sólo tendría sentido luego de seguir cierto orden.</p>
            <p class="subtitulo-routes">5) Rutas preestablecidas</p>
            <p class ="contenido-text">Se trata de cuatro rutas creadas exclusivamente para recorrer la historia en un orden conciso. Todas ellas buscan aportar una navegación grata y comprensible, con ligeras diferencias entre cada una, que amplían el abanico de opciones, sin perjudicar la narrativa original.</p>
            <h3 class="h3">Ruta natural 1 (n1)</h3>
            <p class ="contenido-text">Se trata de una ruta que recrea lo mejor posible la navegación en la interfaz original, accediendo a los archivos únicamente tras haber cumplido las condiciones necesarias para su desbloqueo en un orden que asemeja a la navegación de un jugador novicio. El primer archivo de esta ruta es Cou001, es decir, el primer archivo al que se puede acceder originalmente.</p>
            <h3 class="h3">Ruta natural 2 (n2)</h3>
            <p class ="contenido-text">Teniendo todos los archivos desbloqueados desde un principio, en esta ruta el usuario recorre uno a uno cada archivo disponible, teniendo como único orden aquél de ir de derecha a izquierda y de abajo hacia arriba según el menú de navegación. No es una ruta estrictamente cronológica, pues los archivos no están ordenados así. El primer archivo de esta ruta es Tda001, es decir, el archivo ubicado en el primer bloque del nivel 1 del sitio A.</p>
            <h3 class="h3">Ruta cronológica 1 (c1)</h3>
            <p class ="contenido-text">Se trata de una ruta que ordena la historia en el orden cronológico más acertado posible, es decir, el criterio para su creación se basa en la relación existente entre las diferentes líneas narrativas. No obstante, esta ruta dista de ser perfecta, ya que hay archivos que carecen de una relación directa respecto a cualquier otro evento (sucesos que pudieron ocurrir en cualquier momento), y fueron colocados en la cronología con cierto margen de error. El primer archivo de esta ruta es Tda001, por tratarse del primer evento registrado que tiene lugar en toda la historia.</p>
            <h3 class="h3">Ruta cronológica 2 (c2)</h3>
            <p class ="contenido-text">Esta ruta busca un balance entre la ruta n1 (fiel al juego original) y la ruta c1 (cronológica), pues recorre los archivos en el orden cronológico más preciso posible mientras se cumplen las condiciones originales para acceder a los archivos. El primer archivo de esta ruta es SSkn01, (seguido de las demás actualizaciones de software), pues son el requisito para acceder a Dc1009, el primer archivo disponible originalmente de la ruta cronológica 1.</p>
            <hr style="border: none;background-color:#4B46C8;color:#4B46C8;height:2px;width:80%;margin-top: 4%; margin-bottom: 4%;" />
            <h3 class="h3">Archivos especiales</h3>
            <p class="contenido-text">Cabe mencionar que en ninguna de las rutas se puede acceder a los archivos ocultos (Env, Xa, Xv), los cuales se reproducen automáticamente y de manera aleatoria en la pantalla de navegación, luego de cierto periodo de tiempo. Por supuesto, las rutas tampoco cubren los archivos extra que se añaden gradualmente y que no forman parte de la obra original (con la excepción del archivo Dc1029, el cual es un archivo oficial publicado por separado).</p>

        </div>
    </div>
    <footer class="bottom-line color-line">
        <p style="color: white; text-align: center;">Lif + Sib 2020. <a href="https://lain-psx.net/credits.html" style="text-decoration: none; color: #FFB437;">Créditos</a></p>
    </div>
</body>
</html>
